header {
  height: 13vh;
  background-image: url("../imgs/banner.png");
  background-position: center;
}

@media screen and (max-width: 900px) {
  header {
    background-size: 150%;
  }
}

li {
  float: left;
}