---
import Divider from "../components/Divider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Beliefs">
  <div
    class="prose prose-lg prose-headings:font-semibold max-w-none mx-auto px-4 md:px-0"
  >
    <h1 class="text-center">Beliefs</h1>
    <Divider />
    <!-- The Scriptures -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        I. The Scriptures
      </h2>
      <p class="text-md">
        The Scriptures were given by inspiration — the “breathing out” — of God
        (<span class="text-sm">2 Timothy 3:16</span>). God supernaturally spoke
        the very words of Scripture through the mouths of His Apostles and
        Prophets (<span class="text-sm">Acts 1:16; 2 Peter 1:21</span>);
        therefore, they are the words of God, not the words of man (<span
          class="text-sm">Proverbs 30:5; Psalm 12:6; Matthew 4:4</span
        >).
      </p>

      <p class="text-md">
        The Lord has promised the preservation of His pure words from this
        generation forever (<span class="text-sm"
          >Psalm 12:6–7; 119:160; Isaiah 40:8; 59:21</span
        >). These pure words are found in the <b>Masoretic Text</b>
        (<span class="text-sm">Romans 3:1–2</span>) and the <b
          >Textus Receptus</b
        >
        (<span class="text-sm">John 17:8</span>), and translated in the <b
          >King James Version</b
        >.
      </p>

      <p class="text-md">
        Scripture is exalted even above God’s own name (<span class="text-sm"
          >Psalm 138:2</span
        >), and He Himself is the only One higher.
      </p>
    </section>

    <Divider />

    <!-- God's Name -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        II. God's Name
      </h2>
      <p class="text-md">
        The same of God in the Hebrew language is <b>יְהֹוָה</b> and <b
          class="mr-[2px]">יֱהֹוִה</b
        >, whose pronunciations are <em>YeHoVaH</em> and <em>YeHoViH</em> respectively.
        In English, this name is rendered as <b>GOD</b>, <b>the LORD</b>, or
        <b>JEHOVAH</b>
        (<span class="text-sm"
          >Genesis 22:14; Exodus 6:3; 17:15; Judges 6:24; Psalm 38:18; Isaiah
          12:2; 26:4</span
        >).
      </p>

      <p class="text-md">
        The preserved text (<span class="text-sm">Romans 3:1–2</span>) records <b
          >יְהֹוָה</b
        > and
        <b class="mr-[2px]">יֱהֹוִה</b>, therefore they are considered the
        correct pronunciations. Prophets who cause people to forget God’s name
        are condemned (<span class="text-sm">Jeremiah 23:26</span>).
      </p>
    </section>

    <Divider />

    <!-- The Three Are One -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        III. The Three Are One
      </h2>
      <p class="text-md">
        God is a Spirit (<span class="text-sm">John 4:24</span>), and <b
          >Three are One</b
        >
        (<span class="text-sm">John 10:30; 1 John 5:7</span>). The <b>Father</b>
        (<span class="text-sm">1 Corinthians 8:6</span>), the <b>Word</b> — Jesus
        Christ, the Son (<span class="text-sm"
          >Matthew 1:23; John 1:1; 1 Timothy 3:16; Hebrews 1:1–12</span
        >) — and the <b>Holy Spirit</b> (or Holy Ghost) (<span class="text-sm"
          >Acts 5:3–4</span
        >) are God.
      </p>

      <p class="text-md">
        The Father, the Son, and the Holy Spirit are distinct Persons (<span
          class="text-sm">Matthew 3:13–17; Hebrews 1:3</span
        >).
      </p>

      <p class="text-md">
        The Son’s goings forth have been from everlasting (<span class="text-sm"
          >Psalm 2:7; Micah 5:2; John 3:16; 5:26</span
        >), and the Spirit proceeds from the Father (<span class="text-sm"
          >John 15:26</span
        >) and the Son (<span class="text-sm">Galatians 4:6</span>).
      </p>
    </section>

    <Divider />

    <!-- Salvation -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        IV. Salvation
      </h2>
      <p class="text-md">
        Sin is the transgression of the law (<span class="text-sm"
          >1 John 3:4</span
        >). All men are sinners (<span class="text-sm">Romans 3:23</span>) and
        will die (<span class="text-sm">Romans 6:23</span>). By believing in
        Christ’s atoning and bloody sacrifice (<span class="text-sm"
          >Romans 3:25</span
        >) — His death on the cross (<span class="text-sm"
          >1 Corinthians 1:18</span
        >), His burial, and His resurrection (<span class="text-sm"
          >1 Corinthians 15:1–4</span
        >) — with all your heart (<span class="text-sm">Acts 8:37</span>), we
        can receive salvation (<span class="text-sm"
          >John 3:16–17; Acts 16:30–31</span
        >).
      </p>

      <p class="text-md">
        Salvation is the free gift of God (<span class="text-sm"
          >Romans 3:24</span
        >) and not by works (<span class="text-sm"
          >Ephesians 2:8–9; Titus 3:4–7</span
        >).
      </p>
    </section>

    <Divider />

    <!-- Sealed Unto the Day of Redemption -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        V. Sealed Unto the Day of Redemption
      </h2>
      <p class="text-md">
        When a person is saved, they become sealed with the Holy Spirit (<span
          class="text-sm">Ephesians 1:13; 4:30</span
        >), and are predestinated to be conformed to the image of Christ Jesus (<span
          class="text-sm">Romans 8:29–30</span
        >) at the appearing of Christ (<span class="text-sm">1 John 3:2</span>).
      </p>

      <p class="text-md">
        Believers who live in sin are still saved, but will suffer loss (<span
          class="text-sm">1 Corinthians 3:10–15</span
        >) and chastisement (<span class="text-sm">Hebrews 12:6–8</span>).
      </p>

      <p class="text-md">
        Even if we stop believing, our salvation was settled the moment we
        believed (<span class="text-sm">2 Timothy 2:13</span>). Our salvation is
        based upon the promise of God, which cannot be changed by us (<span
          class="text-sm">Ecclesiastes 3:14</span
        >).
      </p>
    </section>

    <Divider />

    <!-- Heaven -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        VI. Heaven
      </h2>
      <p class="text-md">
        Those who have trusted Christ for their salvation will go to Heaven when
        they die (<span class="text-sm">2 Corinthians 5:8</span>) and/or at the
        Appearing of Christ (<span class="text-sm">1 Thessalonians 4:16–17</span
        >).
      </p>

      <p class="text-md">
        After Christ reigns for a thousand years (<span class="text-sm"
          >Revelation 20:4</span
        >), there will be a New Heaven and a New Earth (<span class="text-sm"
          >Revelation 21:1</span
        >) with the city, New Jerusalem, upon it (<span class="text-sm"
          >Revelation 3:12; 21:2; 21:10–23</span
        >).
      </p>
    </section>

    <Divider />

    <!-- Hell and The Lake of Fire -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        VII. Hell and The Lake of Fire
      </h2>
      <p class="text-md">
        For those who have not received Christ, they will go to Hell when they
        die (<span class="text-sm">Isaiah 14:15; Matthew 23:33</span>).
      </p>

      <p class="text-md">
        When Christ returns at the end of the Time of Jacob’s Trouble and
        establishes His Kingdom, the unbelievers will be cast into the Lake of
        Fire (<span class="text-sm">Matthew 25:41–46; Revelation 19:20</span>).
      </p>

      <p class="text-md">
        After Satan’s Little Season, all the lost will be brought before God at
        the Great White Throne Judgment, and all will be thrown into the Lake of
        Fire (<span class="text-sm">Revelation 20:11–15</span>).
      </p>
    </section>

    <Divider />

    <!-- Pre-Time of Jacob's Trouble Appearing of Christ -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        VIII. Pre-Time of Jacob's Trouble Appearing of Christ
      </h2>
      <p class="text-md">
        The Appearing of Christ (<span class="text-sm"
          >Colossians 3:4; 1 Timothy 6:14; 2 Timothy 1:10; 4:1; 4:8; Titus 2:13;
          Hebrews 9:26; 1 Peter 1:7; 5:4; 1 John 2:28; 3:2</span
        >) will occur before the Time of Jacob’s Trouble (<span class="text-sm"
          >Jeremiah 30:7</span
        >).
      </p>

      <p class="text-md">
        At the Appearing of Christ, believers will be changed into glorified
        bodies (<span class="text-sm"
          >Job 14:14; Psalm 17:15; 1 Corinthians 15:51–57; 1 John 3:2</span
        >) and caught up to be with Jesus (<span class="text-sm"
          >1 Thessalonians 1:10; 4:13–18; 5:9; 2 Thessalonians 3:2–5; Revelation
          4:1–4</span
        >).
      </p>
    </section>

    <Divider />

    <!-- The Body of Christ -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        IX. The Body of Christ
      </h2>
      <p class="text-md">
        The Body of Christ is made up of every believer (<span class="text-sm"
          >1 Corinthians 12:13</span
        >). There is one body (<span class="text-sm">Romans 12:5</span>) — the
        universal
        <i>spiritual</i> church — which the gates of hell shall not prevail against
        (<span class="text-sm">Matthew 16:18</span>).
      </p>

      <p class="text-md">
        Each member of the Body has a unique role to fulfill (<span
          class="text-sm">Romans 12:4–8; 1 Corinthians 12</span
        >).
      </p>
    </section>

    <Divider />

    <!-- The Church -->
    <section class="flex flex-col text-left justify-center gap-2">
      <h2 class="text-2xl font-medium mb-2 uppercase text-accent-2">
        X. The Church
      </h2>
      <p class="text-md">
        Each local church is autonomous (<span class="text-sm"
          >Acts 9:31; 13:1; 14:23; 15:41; 16:5; Revelation 1:11</span
        >) and is shepherded by its elders (known also as pastors or bishops) (<span
          class="text-sm">Acts 20:28</span
        >).
      </p>

      <p class="text-md">
        The church upholds the Scriptures as a pillar supports a roof (<span
          class="text-sm">1 Timothy 3:15</span
        >), and no church has authority over another (<span class="text-sm"
          >1 Timothy 3:4–5</span
        >).
      </p>
    </section>
  </div>
</Layout>
