---
import Divider from "../components/Divider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tetragrammaton Transliterations">
  <div
    class="prose prose-lg prose-headings:font-semibold max-w-none mx-auto px-4 md:px-0"
  >
    <h1 class="text-center">Tetragrammaton Transliterations</h1>
    <Divider />

    <div class="overflow-x-auto">
      <table class="min-w-full border border-[#d6d3ce] text-sm text-left">
        <thead class="bg-accent-2 text-white">
          <tr>
            <th
              class="border border-accent-1 text-center py-2 font-semibold w-1/5"
              >Language</th
            >
            <th
              class="border border-accent-1 text-center py-2 font-semibold w-1/5"
              >יְהֹוָה Yehovah</th
            >
            <th
              class="border border-accent-1 text-center py-2 font-semibold w-1/5"
              >יֱהֹוִה Yehovih</th
            >
            <th
              class="border border-accent-1 text-center py-2 font-semibold w-1/5"
              >IPA</th
            >
            <th
              class="border border-accent-1 text-center py-2 font-semibold w-1/5"
              >Notes</th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">Hebrew</td>
            <td class="border px-4 py-2">יְהֹוָה</td>
            <td class="border px-4 py-2">יֱהֹוִה</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">Original inspired forms.</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">English</td>
            <td class="border px-4 py-2">Jehovah</td>
            <td class="border px-4 py-2">Jehovih</td>
            <td class="border px-4 py-2">/d͡ʒəˈhoʊ.və/</td>
            <td class="border px-4 py-2"
              ><i>Jehovah</i> first appeared as Iehouah and Iehovah.</td
            >
          </tr>
          <tr>
            <td class="border px-4 py-2">Greek</td>
            <td class="border px-4 py-2">Ἰεχωβά</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Latin</td>
            <td class="border px-4 py-2">Iehova</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">[jeˈ(ɦ)oː.wa]</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Spanish</td>
            <td class="border px-4 py-2">Jehová</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">/xeoˈβa/</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Portuguese</td>
            <td class="border px-4 py-2">Jeová</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">/ʒɛ.ɔˈva/</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">French</td>
            <td class="border px-4 py-2">Jéhovah</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Italian</td>
            <td class="border px-4 py-2">Geova</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">/ˈd͡ʒɛ.o.va/</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">German</td>
            <td class="border px-4 py-2">Jehova</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Russian</td>
            <td class="border px-4 py-2">Иегова</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">[ɪ(j)ɪˈɡovə]</td>
            <td class="border px-4 py-2"
              >Pre-1918 spelling of <i>Иегова</i> is Іегóва.</td
            >
          </tr>
          <tr>
            <td class="border px-4 py-2">Polish</td>
            <td class="border px-4 py-2">Jehowa</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">/jɛˈxɔ.va/</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Swahili</td>
            <td class="border px-4 py-2">Yehova</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Chinese</td>
            <td class="border px-4 py-2">耶和华</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"
              ><i>耶和华</i> is the simplified form of 耶和華.</td
            >
          </tr>
          <tr>
            <td class="border px-4 py-2">Japanese</td>
            <td class="border px-4 py-2">エホバ</td>
            <td class="border px-4 py-2">エホビ</td>
            <td class="border px-4 py-2">[e̞ho̞ba̠]<br />[e̞ho̞bʲi]</td>
            <td class="border px-4 py-2"
              ><i>エホバ</i> is a later form of ヱホバ.</td
            >
          </tr>
          <tr>
            <td class="border px-4 py-2">Korean</td>
            <td class="border px-4 py-2">여호와</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">[jʌ̹βo̞wa̠]</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Hindi</td>
            <td class="border px-4 py-2">यहोवा</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Malayalam</td>
            <td class="border px-4 py-2">യഹോവ</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2">/jɐhoːʋä/</td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Tamil</td>
            <td class="border px-4 py-2">யெகோவா</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</Layout>
