h1{
    color: whitesmoke;
    font-size: 300%;
}

.Container{
  width: 100%;
  height: auto;
}

.HomeButton{
  width: 30%;
  height: auto;
  margin-left: 35%;
}

.IMAGE{
  width: 30%;
  height: auto;
}

p{
    font-size: 100%;
    color: whitesmoke;
}

body{
    background-color: #3b3b3b;
    font-family: "Sofia", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidebar button {
    background-color: #f1f1f1;
    margin-left: 10%;
    width: 60%;
    height: 5%;;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .EMBED {width: fit-content;}
  }
  @media screen and (max-width: 375px){
    .EMBED {width: fit-content;}
  }