h1{
    color: whitesmoke;
    font-size: 300%;
}

.HomeButton{
    margin-left: 50em;
}

p{
    font-size: 100%;
    color: whitesmoke;
}

body{
    background-color: #3b3b3b;
    font-family: "Sofia", sans-serif;
}